body {
    background: #e5eeee;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.mainer {
    max-width: 400px;
    background-image: url(../images/bg_03.png);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.wrapper {
    margin: 50px auto 0;
    max-width: 260px;
}

.container-title {
    display: flex;
}

.container-title .title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: rgba(251, 246, 228, 0.5);
    padding: 50px 0 0 0;
    margin: 0 25px 0 0;
}

.container-title .title:active, .container-title .title:hover {
    border-bottom: 2px solid #e66a64;
    color: #fbf6e4;
    margin: -2px 25px 0 0;
    cursor: pointer;
}

.form {
    margin: 50px 0 0 0;
}

.form label[for="username"], .form label[for="pwd"] {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fbf6e4;
}

.form input[type="text"], .form input[type="password"] {
    border-style: none;
    background-color: transparent;
    color: #fbf6e4;
    border: 2px rgba(251, 246, 228, 0.5) solid;
    width: 256px;
    height: 38px;
}

.form input[type="text"]:focus, .form input[type="password"]:focus {
    border: 2px #23ae92 solid;
}

.form .error {
    color: red;
    font-size: 12px;
    visibility: hidden;
}

.form input[type="text"]:invalid+.error, .form input[type="password"]:invalid+.error {
    visibility: visible;
}

.form label.container {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #fbf6e4;
    /*  */
    padding-left: 23px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form label.container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #23ae92;
    box-sizing: border-box;
}

label.container input:checked~.checkmark {
    background-color: #e66a64;
    border: 1px solid #23ae92;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

label.container input:checked~.checkmark:after {
    display: block;
}

label.container .checkmark:after {
    left: 4px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form input[type="submit"] {
    width: 260px;
    background-color: #23ae92;
    color: #fbf6e4;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-style: none;
    margin: 40px 0 0 0;
    padding: 13px 0;
    cursor: pointer;
}

.container-options {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
    padding: 0 0 55px 0;
}

.container-options .options {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    color: rgba(251, 246, 228, 0.5);
    border-bottom: 1px solid rgba(251, 246, 228, 0.5);
}

.container-options .options:active, .container-options .options:hover {
    border-bottom: 1px solid rgba(251, 246, 228, 1);
    color: rgba(251, 246, 228, 1);
    cursor: pointer;
}